canvas {
  background: #9c9c9c;
}

#minimapCanvas {
  position: absolute;
  top: 40px; 
  right: 40px; 
  /* border: 2px solid #000;  */
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('images/parallax-space-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
